<div class="header__container m-b-2em">
    <div class="header__body __content-width">
        <div routerLink="" class="header__logo-container"><i class="bi bi-droplet-half header__logo-icon"></i>
            <div class="header__logo-text">Experience_Pond</div>
        </div>
        <div class="header__action-btns__container">
            <a class="router-btn" routerLink="" routerLinkActive="active-route"
                [routerLinkActiveOptions]="{exact:true}">Projects</a>
            <!-- <a class="router-btn" routerLink="contacts" routerLinkActive="active-route" [routerLinkActiveOptions]="{exact:true}">Contacts</a> -->
            <a class="router-btn" routerLink="about" routerLinkActive="active-route"
                [routerLinkActiveOptions]="{exact:true}">About me</a>
        </div>
    </div>
</div>